language: python
sudo: false
cache: pip

python:
  - "3.4"
  - "2.7"

branches:
  only:
    - master

before_install:
  - pip install --no-cache-dir -U -r requirements-test.txt
  - ./runflake8
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then ./runisort; fi

# command to install requirements
install:
  - python setup.py -q develop

# command to run tests, e.g. python setup.py test
script:
  - coverage run --source=openwisp_users runtests.py

after_success:
  coveralls
