form.password_change p {
  overflow: hidden;
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid var(--hairline-color);
  box-sizing: border-box;
}
form.password_change label {
  display: inline-block;
  padding: 6px 10px 0 0;
  width: 160px;
  word-wrap: break-word;
  line-height: 1;
  font-weight: bold;
}
#main form.password_change .submit-row {
  text-align: left;
}
#main form.password_change .default {
  float: unset;
}
#main form.password_change .submit-row input {
  margin: 0 15px 0 0;
}
#main .submit-row .button {
  font-size: 14px;
  padding: 0.625rem 1rem;
}
#main .errorlist {
  margin: 5px 0;
}
#main .errorlist li {
  font-size: 15px;
  font-weight: bold;
}
#id_password1_helptext ul {
  padding-left: 170px;
}
#id_password1_helptext li {
  list-style: none;
}

@media (max-width: 767px) {
  #main form.password_change label {
    padding: 0 0 10px;
    width: 100%;
  }

  #main form.password_change input {
    width: 100%;
  }

  #main form.password_change .submit-row .button {
    width: 100%;
    margin: 0 0 15px 0;
    padding-right: 0;
    padding-left: 0;
  }
  #id_password1_helptext ul {
    padding-left: 0px;
  }
}
