{% extends "openwisp_utils/email_template.html" %}
{% load i18n %}
{% block body %}
  <div class="container">
    <div class="box">
      {% block mail_header %}
      <div class="logo-container">
        <img src="https://raw.githubusercontent.com/openwisp/openwisp-utils/issues/259-email-template/openwisp_utils/static/openwisp-utils/images/openwisp-logo.png" alt="Logo" id="logo" class="logo">
      </div>
      <div class="subject">
        {% blocktrans with site_name=current_site.name %}Welcome to <b>{{ site_name }}!</b>{% endblocktrans %}
      </div>
      {% endblock mail_header %}
      {% block mail_body %}
      <div class="call-to-action">
        <a href="{{ call_to_action_url }}" class="btn">
          {{ call_to_action_text }} </a>
      </div>
      {% endblock mail_body %}
      {% blocktrans with site_name=current_site.name site_domain=current_site.name %}Thank you for using <b>{{ site_name }}!</b>{% endblocktrans %}
    </div>
  </div>
{% endblock body %}
