---
name: OpenWISP Users CI Build

on:
  push:
    branches:
      - master
      - new-menu
  pull_request:
    branches:
      - master
      - new-menu

jobs:
  build:
    name: Python==${{ matrix.python-version }} | ${{ matrix.django-version }}
    runs-on: ubuntu-20.04

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
        django-version:
          - django~=3.0.0
          - django~=3.1.0
          - django~=3.2.8
        include:
          - django-version: django~=4.0.0
            python-version: 3.9
            experimental: true

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install system libraries
        run: |
          sudo apt update
          sudo apt-get -qq -y install gettext

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install python dependencies
        run: |
          pip install -U pip wheel
          pip install -U -r requirements-test.txt
      - name: Install npm dependencies
        run: sudo npm install -g jshint

      - name: Install openwisp-users
        run: pip install -e .[rest]

      - name: Change Django Version for test
        run: pip install -U ${{ matrix.django-version }}

      - name: QA checks
        run: |
          ./run-qa-checks

      - name: Tests
        run: |
          coverage run --source=openwisp_users runtests.py
          SAMPLE_APP=1 coverage run --append --source=openwisp_users runtests.py
          # basic tests without allauth.socialaccount
          NO_SOCIAL_APP=1 ./tests/manage.py test testapp.tests.test_admin.TestUsersAdmin --parallel

      - name: Upload Coverage
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: |
            python-${{ matrix.python-version }}-${{ matrix.django-version }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Finish Coveralls
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
      - name: Finished
        run: |
          pip3 install --upgrade coveralls
          coveralls --finish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
